.footer-social-icon {
	width: 32px;
}

.social-media {
	float: right;
}

.footer-links {
    text-align: center;
}

.footer-link {
	display: inline-block;
	width: 150px;
}

.footer-link a {
	color: #67604f;
}

.footer-link a:hover {
	color: #00a665;
}

footer a {
	text-decoration: none;
}

footer .extra {
	color: #67604f;
	font-size: 12px;
}

.row.footer-nav {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #67604F;
	border-bottom: 1px solid #67604F;
}