.left-slides-control {
	float: right;
}

.slides-control {
	margin: auto;
	display: initial;
}

.slides-arrow {
	width: 10px;
}

.left-slides-arrow {

}

.right-slides-arrow {

}

#welcome-header {
	
}

#form-intro {
	text-align: center;
}