.prantls-nav {
	margin-bottom: 100px;
}

.prantls-nav {
	margin-top: 10px;
}

.prantls-nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    width: 70%;
    min-width: 1000px;
    /*box-shadow: 0 4px 8px 0 #211701, 0 10px 20px 0 #eeeacd;*/
    box-shadow: 0 4px 8px 0 rgba(33, 23, 1, 0.7), 0 10px 20px 0 #eeeacd;
}

.nav-left {
	float: left;
	width: 30%;
}

.nav-center {
	float: left;
	width: 40%;
}

.nav-right {
	float: left;
	width: 30%;
}

.prantls-nav ul li {
	float: left;
}

.prantls-nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
	font-family: "Lato";
	font-weight: bold;
	color: #67604f;
}

.nav-li {
	width: 50%;
}

.nav-border {
	display: block;
	width: 60%;
	margin: auto;
}

.nav-li a:hover {
	border-bottom: 5px solid #00a665;
	padding: 14px 16px 11px 16px;
	background-color: #E4DBC8;
}

.prantls-li.left {
	width: 32%;
}

.prantls-li.left a {
	text-align: right;
}

.prantls-li.center {
	width: 36%;
}

.prantls-li.right{
	width: 32%;
}

.prantls-li.right a {
	text-align: left;
}

.prantls-nav .prantls-li a {
	display: block;
	color: #00a665;
	font-family: "Bernard MT Condensed";
	font-size: 2.250em;
	padding: 1px 16px;
	font-weight: normal;
	overflow: hidden;
}

/*a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}*/

#nav-logo {
	position: absolute;
	width: 150px;
    margin-top: -25px;
	margin-left: -70px;

    z-index: 1;
}