html {
    font-family: "Lato";
    font-weight: bold;
    color: #67604f;
}

body {
    /*background-color: #FFF3E0;*/
    background-image: url("../images/background.png");
    padding: 20px;
}

.prantls-text {
	font-family: "Bernard MT Condensed";
}

.prantls-container {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

.prantls-container.full {
    min-width: 750px;
}

.row, 
.column {
/*    border: 1px solid;*/
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    float: left;
    display: table-cell;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
    margin-left: 0;
}

.column {
    /*background: #eee;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    /*color: #777;*/
    /*padding: 5px;*/
    min-height: 1px;
    /*text-align: center;*/
}

.row {
    margin-bottom: 10px;
}

.row:last-child {
    margin-bottom: 0;
}

.p {
    font-size: 14px;
    text-align: center;
    padding-top: 100px;
}

.slides-arrow {
    width: 50px;
}

.image-flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.image-fit {
    width: 600;
    height: 400;
}

.row .slideshow img {
    width:100%;
}

.content-box {
    border: 3px dotted #C7B894;
    padding: 15px;
}

/*.row .column.content-box:after {
    content: "EDITED";
    display: table-cell;
    height: 100%;
}*/

.content {
    background-color: #E4DBC8;
    padding: 15px;
    line-height: 200%;
}

.content-two {
    background-color: #FFF;
    padding: 15px;
    line-height: 200%;
}

.big-header {
    display: block;
    height: 150px;
    margin: 10px auto 20px auto;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.med-header {
    display: block;
    height: 75px;
    margin: 10px auto 20px auto;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.sm-header {
    display: block;
    height: 35px;
    margin: 10px auto 20px auto;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.secondary-nav-links {
    text-align: center;
}

.secondary-nav-link {
    display: inline-block;
    width: 150px;
    color: #67604f;

    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.secondary-nav-link:hover {
    color: #00a665;
}

.row.secondary-nav {
    padding-top: 10px;
    padding-bottom: 10px;
/*    border-top: 1px solid #67604F;
    border-bottom: 1px solid #67604F;*/
}

.center {
    margin: auto;
}

.center-text {
    text-align: center;
}

.give-me-10-space {
    margin-top: 10px;
    margin-bottom: 10px;
}

.give-me-20-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.prantls-green-hover:hover {
    color: #00a665;
}

.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

/*table th {
    float: right;
}*/

table {
    border-collapse: collapse;
}

table tr
table tr td
table tr th {
    padding: 0px;
}

table th {
    text-align: left;
    padding-right: 10px;
}

.location-table th {
    display: none;
}