#navbar:before {
    content:'\A';
    display:block;
    width:100vw;
    height:65px;
    position:absolute;
    background:#808080;
    top:0;
    z-index:-1;
}
#navbar:after {
    content:url(https://d13yacurqjgara.cloudfront.net/users/305445/avatars/small/m-icon-sml.png?1364435283);
    display:block;
    height:85px;
    position:absolute;
    background:#808080;
    top:0;
    z-index:1;
    border-radius: 50%;
    width: 175px;
    height: 80px;
    background-color:#808080;
    margin:0 auto;
    left: 0;
    right: 0;
}
#navbar{
    padding:20px 0 0;
    width:100%;
    height:40px;
    background:#808080;
    text-align: center;
}
#navbar a{
    width:25%;
    margin: 0 40px;
    background:#808080;
    text-decoration:none; 
    /* extra styling for shits and giggles */
    color:#fff;
    font-weight:600;
    letter-spacing:0.025em;
    text-transform:uppercase;
}
a:hover,a:active,a:focus,a:visited { 
    text-decoration:none;
    outline:none;
}

#navbar a:nth-child(2) {
  margin-right:100px
}