<script type="text/javascript" src="js/jquery.js" ></script>
<script type="text/javascript" src="js/footer-scripts.js" ></script>

<link rel="stylesheet" media="all" type="text/css" href="css/styles.css" />
<link rel="stylesheet" media="all" type="text/css" href="css/footer-style.css" />

<footer>
	<hr/>
	<div class="row">
		<div class="column column-3"></div>
		<div class="column column-6 footer-links">
			<div class="footer-link">
				<a href="about.html">
					About
				</a>
			</div>
			<div class="footer-link">
				<a class="footer-link" href="stores.html">
					Locations
				</a>
			</div>
			<div class="footer-link">
				<a class="footer-link" href="">
					Contact Us
				</a>
			</div>
		</div>
		<div class="column column-3"></div>
	</div>
	<hr/>
	<br/><br/>
	<div class="row extra">
		<div class="column column-4">
			<div id="copyright">
				<p>Copyright &copy; Prantl's Bakery<br/>
				All trademarks including 'Burnt Almond Torte' and related trade dress are reserved exclusively to Prantl's Bakery under applicable state law, federal law, and the Lanham Act.</p>
			</div>
		</div>
		<div class="column column-8">
		<br/>
			<div class="social-media">
				<a href="https://www.facebook.com/PrantlsBakery" target="_blank">
					<img id="facebook" class="footer-social-icon" src="images/facebook.png" target="_blank">
				</a>
				<a href="https://twitter.com/prantlsbakery" target="_blank">
					<img id="twitter" class="footer-social-icon" src="images/twitter.png">
				</a>
				<a href="https://www.instagram.com/prantls_bakery/" target="_blank">
					<img id="instagram" class="footer-social-icon" src="images/instagram.png">
				</a>
			</div>
		</div>
	</div>
</footer>