<head>
<script type="text/javascript" src="js/jquery.js" ></script>
<script type="text/javascript" src="js/nav-scripts.js" ></script>
<link rel="stylesheet" media="all" type="text/css" href="css/materialize.css" />
<link rel="stylesheet" media="all" type="text/css" href="css/styles.css" />
</head>

<body>
<link rel="stylesheet" media="all" type="text/css" href="css/nav-style.css" />
<div class="prantls-nav">
	<ul>
		<div class="nav-left">
		<li class="nav-li"><a class="nav-border" href="about.html">About</a></li>
		<li class="nav-li"><a class="nav-border" href="stores.html">Stores</a></li>
		</div>

		<div class="nav-center">
		<li class="prantls-li left"><a href="index.html">
				prantl's
		</a></li>

		<li class="prantls-li center"><a href="index.html">
			<img id="nav-logo" src="images/prantl-icon.png">
		</a></li>

		<li class="prantls-li right"><a href="index.html">
				bakery
		</a></li>
		</div>

		<div class="nav-right">
		<li class="nav-li"><a class="nav-border" href="order.html">Order</a></li>
		<li class="nav-li"><a class="nav-border" href="cater.html">Cater</a></li>
		</div>


	</ul>
</div>
</body>