<link rel="stylesheet" media="all" type="text/css" href="css/styles.css" />

<div class="row">
	<div class="column column-8">
		<img src="images/headers/downtown-header.png" class="med-header"/>
		<!-- Basic Info -->
		<div class="row">
			<div class="column column-5">
				l
			</div>
			<div class="column column-6">
				l
			</div>
		</div>
	</div>
	<div class="column column-4">
		<img class="unselectable height-200px" src="images/locations/downtown-store.jpg"/>
	</div>
</div>